﻿@*    
    Index
        Author:     Jon Decher
        Date:       August 16, 2013         
        Purpose:    View that makes the look of the register and login popups.
                    Uses a master layout
        Revisions:  Sends an email to the new user notifying them that they have registered.
*@

@model eStoreViewModels.CustomerViewModel

@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrap">
    <div style="position: absolute; top: 100px; left: 50px; color: #ff6a00; border-color: #000;   ">
       <img src="@Url.Content("~/Content/images/pintInMyGlassTitle.png")" />
    </div>
</div>
<!--popup and overlay-->
<a href="#x" class="overlay" id="register_popup"></a>
<div class="popup">
    <div style="padding-top: 20px;">
        <div style="font-size: larger; padding-bottom: 20px; text-align: center; font-family:Cooper;">
            @using (Ajax.BeginForm("Register", "Home", new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                UpdateTargetId = "msg"
            }))
            {
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-tab1">Personal</a></li>
                        <li><a href="#tabs-tab2">Address</a></li>
                        <li><a href="#tabs-tab3">Account</a></li>
                    </ul>

                    <div id="tabs-tab1">

                        @Html.Label("Firstname")
                        @Html.TextBoxFor(model => model.FirstName, new
                   {
                       @class = "field required",
                       @required = "required",
                       @title = "Please provide your first name"
                   })
                        @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "errmsg" })
                        <br />
                        @Html.Label("Surname")
                        @Html.TextBoxFor(model => model.LastName, new { @required = "required", @title = "Please provide your last name" })
                        @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "errmsg" })
                        <br />
                        @Html.Label("Age")
                        @Html.TextBoxFor(model => model.Age, new
                   {
                       @class = "field required",
                       @required = "required",
                       @title = "Please provide an age"
                   })
                        @Html.ValidationMessageFor(model => model.Age, null, new { @class = "errmsg" })
                        <br />
                        @Html.Label("Credit Card")
                        @{
                List<SelectListItem> ccs = new List<SelectListItem>();
                ccs.Add(new SelectListItem { Text = "Visa", Value = "V" });
                ccs.Add(new SelectListItem { Text = "Mastercard", Value = "M" });
                ccs.Add(new SelectListItem { Text = "American Express", Value = "A" }); 
                               
                        }
                        @Html.DropDownListFor(model => model.CreditcardType, ccs)

                    </div>

                    <div id="tabs-tab2">
                        @Html.Label("# and Street")
                        @Html.TextBoxFor(model => model.Address1, new
                   {
                       @class = "field required",
                       @required = "required",
                       @title = "Please provide your first name"
                   })
                        @Html.ValidationMessageFor(model => model.Address1, null, new { @class = "errmsg" })
                        <br />
                        @Html.Label("City")
                        @Html.TextBoxFor(model => model.City, new { @required = "required", @title = "Please provide your last name" })
                        @Html.ValidationMessageFor(model => model.City, null, new { @class = "errmsg" })
                        <br />
                        @Html.Label("Region")
                        @Html.TextBoxFor(model => model.Region, new
                   {
                       @class = "field required",
                       @required = "required",
                       @title = "Please provide an age"
                   })
                        @Html.ValidationMessageFor(model => model.Region, null, new { @class = "errmsg" })
                        <br />
                        @Html.Label("Country")
                        @{
                List<SelectListItem> country = new List<SelectListItem>();
                country.Add(new SelectListItem { Text = "Canada" });
                country.Add(new SelectListItem { Text = "USA" });
                country.Add(new SelectListItem { Text = "Mexico" }); 
                               
                        }
                        @Html.DropDownListFor(model => model.Country, country)
                        <br />
                        @Html.Label("Postal Code")
                        @Html.TextBoxFor(model => model.Mailcode, new
                   {
                       @class = "field required",
                       @required = "required",
                       @title = "Please provide your postal code"
                   })
                        @Html.ValidationMessageFor(model => model.Mailcode, null, new { @class = "errmsg" })

                    </div>

                    <div id="tabs-tab3">
                        @Html.Label("Username:")
                        @Html.TextBoxFor(model => model.UserName, new
                   {
                       @class = "field required",
                       @required = "required",
                       @title = "Please provide a username"
                   })
                        @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "errmsg" })
                        <br />
                        @Html.Label("Email")
                        @Html.TextBoxFor(model => model.Email, new { @required = "required", @title = "Please provide your email address" })
                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "errmsg" })
                        <br />
                        @Html.Label("Password:")
                        @Html.PasswordFor(model => model.Password, new
                   {
                       @class = "field required",
                       @required = "required",
                       @title = "Please provide a password"
                   })
                        @Html.ValidationMessageFor(model => model.Password, null, new { @class = "errmsg" })
                        <br />
                        @Html.Label("Confirm Password:")
                        @Html.PasswordFor(model => model.RepeatPassword, new
                   {
                       @class = "field required",
                       @required = "required",
                       @title = "Please confirm your password"
                   })
                        @Html.ValidationMessageFor(model => model.RepeatPassword, null, new { @class = "errmsg" })
                        <br />

                        <input type="submit" value="Register" class="btn-custom" id="registerButton" />

                    </div>

                </div>//tabs


            }
            <div id="msg">
                @Html.Partial("PopupMessage")<div class="span2"></div>
            </div>
        </div>
        <a class="close" href="#close"></a>
    </div>
</div>

<a href="#x" class="overlay" id="login_popup"></a>
<div class="popup">
    <script type="text/javascript">
        var onSuccess = function (result) {
            if (result.url) {
                window.location.href = result.url;
            }
        }</script>
    <div style="padding-top: 20px"; id="login-popup">
        <div style="font-size: larger; padding-bottom: 20px; text-align: center; font-family:Cooper;">
            @using (Ajax.BeginForm("Login", "Home", new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                UpdateTargetId = "loginMsg",
                OnSuccess = "onSuccess"
            }))
            {
                <div>
                    <h3>Please Login!</h3>
                    <br />
                </div>
                <div>
                    @Html.Label("Username:")
                    @Html.TextBoxFor(model => model.UserName, new
               {
                   @class = "field required",
                   @required = "required",
                   @title = "Please provide your first name"
               })
                    @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "errmsg" })
                    <br />
                    @Html.Label("Password:")
                    @Html.PasswordFor(model => model.Password, new
               {
                   @class = "field required",
                   @required = "required",
                   @title = "Please provide your password"
               })
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "errmsg" })

                    <br />
                    <input type="submit" value="Login" class="btn-custom" id="loginButton" />

                </div>    
            }
            <div id="loginMsg">
                @Html.Partial("PopupMessage")<div class="span2"></div>
            </div>
        </div>
        <a class="close" href="#close"></a>
    </div>
</div>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>

<body />
</html>



