﻿@*    
    Index
        Author:     Jon Decher
        Date:       August 16, 2013         
        Purpose:    View that makes the look of the cart.
                    Uses a master layout.
                    Uses a helper class.
        Revisions:  Sends an email to the logged in user about their order.
*@

@using eStoreWebsite.Helpers
@{
    ViewBag.Title = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/bootstrap.min.js"></script>

<div id="wrap">
    <div style="font-family:Cooper;position:absolute; left:20%; background-color:palegoldenrod; border:solid; border-width:thick; width:inherit; ">
       <br />
        <br />  
        <div class="span8"> 
        <br />
        <br />           
            <div style="font-size:xx-large; left:50%">YOUR CURRENT ITEMS</div>
          @using (Ajax.BeginForm("genOrder", "Cart", new AjaxOptions
            {
                LoadingElementId = "ajaxSplash",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                UpdateTargetId = "messg2",
                OnComplete = "$('#orderButton').hide()"
            }))
            {
               
                <div class="viewDetails">
                    @Html.CartContents("tableItems")
                </div>
                <div id="ajaxSplash" style="display: none;" z-index: 60;">wait...</div>
                <div id="messg2">
                     @Html.Partial("PopupMessage")<div class="span2"></div>
                </div>
            }
        </div>
    </div>
</div>

